node_modules
apps/*/node_modules
packages/*/node_modules
apps/*/dist
packages/*/dist
**/build
**/.react-router
**/.react-router/**
**/.cache
**/.vite
**/.output
**/*.log
.git
.github
.gitignore
apps/*/.env*
.env.*.example
.editorconfig
scripts
.vscode
README.md