# Dependencies
node_modules

# Build outputs
*.tsbuildinfo

# Environment variables
.env*
!.env.example
!.env.prod.example
!.env.dev.example

# IDEs and editors
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
.DS_Store

# Logs
*.log

# Testing
coverage