name: CI

on:
  push:
  pull_request:
    types: [opened, reopened]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  typecheck:
    name: Typecheck
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install Dependencies
        run: npm install -g pnpm && pnpm install

      - name: Copy .env.example files
        shell: bash
        run: pnpm ci:env

      - name: Typecheck
        run: pnpm run typecheck
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install Dependencies
        run: npm install -g pnpm && pnpm install

      - name: Copy .env.example files
        shell: bash
        run: pnpm ci:env

      - name: Lint
        run: pnpm run lint
  build:
    name: Build
    runs-on: ubuntu-latest
    needs: [typecheck, lint]
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install Dependencies
        run: npm install -g pnpm && pnpm install

      - name: Copy .env.example files
        shell: bash
        run: pnpm ci:env

      - name: Build
        run: pnpm run build