name: CI

on:
  push:
  pull_request:
    types: [opened, reopened]

jobs:
  typecheck-and-lint:
    name: Typecheck and Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install Dependencies
        run: npm install -g pnpm && pnpm install

      - name: Copy .env.example files
        shell: bash
        run: pnpm ci:env

      - name: Typecheck
        run: pnpm run typecheck

      - name: Lint
        run: pnpm run lint
  build:
    name: Build
    runs-on: ubuntu-latest
    needs: typecheck-and-lint
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install Dependencies
        run: npm install -g pnpm && pnpm install

      - name: Copy .env.example files
        shell: bash
        run: pnpm ci:env

      - name: Build
        run: pnpm run build